.loader {
  height: 40px;
  aspect-ratio: 0.866;
  display: grid;
  background: conic-gradient(
    from -121deg at right,
    #0000,
    rgba(24, 24, 24, 0.3) 1deg 60deg,
    #0000 61deg
  );
  animation: l12 5s infinite linear;
  transform-origin: 33% 50%;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  background: conic-gradient(
    from -121deg at right,
    #0000,
    rgba(24, 24, 24, 0.6) 1deg 60deg,
    #0000 61deg
  );
  transform-origin: inherit;
  scale: 0.9;
  animation: inherit;
}
.loader:after {
  // Третий треугольник

  background: conic-gradient(
    from -121deg at right,
    #0000,
    rgba(24, 24, 24, 0) 1deg 60deg,
    #0000 61deg
  );
  scale: 0.5;
  animation-duration: 6s;
}
@keyframes l12 {
  100% {
    transform: rotate(1turn);
  }
}
