.header {
  width: 100%;
  padding: 2rem;

  & > ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    & li {
      font-weight: bold;
      list-style: none;
    }

    & a {
      text-decoration: none;
    }
  }
}
